{% extends 'base.html' %}

{% block title %}
{{ title }}
{% endblock title %}

{% block carousel %}
{% endblock carousel %}

{% block main %}


<div class="d-flex justify-content-between">
    <div class="col-7">
        <div class="card">
            <div class="card-header">
                <div class="d-flex justify-content-between">
                    <div>
                        <b>Category: {{ article.category }}</b>
                    </div>
                    <div>
                        {% if request.user.is_authenticated and request.user.id == article.author.id %}
                        <a href="{% url 'article_delete' article.pk %}" class="btn btn-danger">
                            <b>DELETE</b>
                        </a>
                        <a href="{% url 'article_edit' article.pk %}" class="btn btn-warning">
                            <b>EDIT</b>
                            {% endif %}
                        </a>
                        <a href="{% url 'index' %}" class="btn btn-success">
                            <b>BACK</b>
                        </a>
                    </div>
                </div>

            </div>
            <a href="{% url 'article_detail' article.id %}">
                <img src="{{ article.photo.url }}" class="card-img-top" alt="...">
            </a>
            <div class="card-body">
                <h5 class="card-title">{{ article.title }}</h5>
                <p class="card-text">{{ article.description }}</p>
            </div>

            <div class="card-footer">
                <div class="d-flex justify-content-between">
                    <div>
                        <b>By <a href="{% url 'user_profile' article.author.id %}"> {{article.author}}</a></b>
                    </div>
                    <div>
                        <b>{{ article.created_at }}</b>
                    </div>
                </div>
            </div>
        </div>
        <div class="card p-3">
            <form action="" method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary">
                    Add comment
                </button>
            </form>
        </div>
    </div>
</div>


{% endblock main %}